.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: #000000;
}

.check__underline {
  text-decoration: line-through;
}
